.typeList {
  display: flex;
  justify-content: center; }
  .typeList [class*="type"],
  .typeList [class^="type"] {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
    padding: 1rem;
    border: 0.2rem solid rgba(0, 0, 0, 0.85);
    margin: 0 0.5rem;
    min-width: 4.2rem;
    height: 4.2rem;
    cursor: pointer;
    overflow: hidden; }
  .typeList .typeUX {
    border-color: #3EDB6A;
    color: #3EDB6A; }
    .typeList .typeUX:active {
      background-color: #a9efbd; }
  .typeList .typeUI {
    border-color: #CF70E5;
    color: #CF70E5; }
    .typeList .typeUI:active {
      background-color: #f3dcf9; }
  .typeList .typePR {
    border-color: #24E2BE;
    color: #24E2BE; }
    .typeList .typePR:active {
      background-color: #95f1df; }
  .typeList .typeWD {
    border-color: #F8863C;
    color: #F8863C; }
    .typeList .typeWD:active {
      background-color: #fcd2b7; }
  .typeList .typePH {
    border-color: gray;
    color: gray; }
    .typeList .typePH:active {
      background-color: #bfbfbf; }
  .typeList .typeAR {
    border-color: #DE334E;
    color: #DE334E; }
    .typeList .typeAR:active {
      background-color: #f0a1ad; }
  .typeList .typeGD {
    border-color: #5C89E3;
    color: #5C89E3; }
    .typeList .typeGD:active {
      background-color: #c9d8f6; }
