.container {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
  padding-top: 1rem; }
  .container a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none; }
  .container a:hover {
    text-decoration: underline; }

.description a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none; }

.title {
  border: none;
  text-transform: none; }
