$bg: #f6f6f6;
$black: rgba(0,0,0,0.85);
$lightBlack: lighten($black, 25%);
$cardShadow: lighten($black, 75%);
$grey: lighten(#000, 50%);
$white: #fff;
$transparentWhite: rgba(255,255,255,0.5);
$blue: #5C89E3;
$red: #DE334E;
$green: #3EDB6A;
$orange: #F8863C;
$purple: #CF70E5;
$turquoise: #24E2BE;

$ps: #00ACC9;
$ai: #F8863C;
$id: #FE80A8;
$ae: #B6AEEC;
$xd: #FF43C9;
$sk: #f7c752;

$fb: #3b5998;
$ig: #244f76;
$tw: #55acee;
$li: #006699;
$be: #005cff;
$lf: #e3152b;