@font-face {
  font-family: "Montserrat Alternates";
  src: url(../fonts/MontserratAlternates-Regular.ttf); 
}

@font-face {
  font-family: "Century Gothic";
  src: url(../fonts/century-gothic.ttf);
}