[data-icon]:before {
  content: attr(data-icon); }

[class*="icon"]:before,
[class^=icon]:before,
[data-icon]:before {
  font-family: "Icon Set" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.iconArrowNext:before {
  content: "\3e"; }

.iconArrowPrev:before {
  content: "\3c"; }

.iconClose:before {
  content: "\58"; }

.iconMenu:before {
  content: "\4d"; }

.iconLogoThick:before {
  content: "\53"; }

.iconLogo:before {
  content: "\73"; }

.card {
  background: #fff;
  width: 100%;
  max-width: 35rem;
  margin: 0 auto 1rem auto;
  box-shadow: 0 0.5rem 1rem -0.2rem rgba(191, 191, 191, 0.85);
  font-size: 0.9em;
  position: relative;
  font-family: "Century Gothic", sans-serif;
  transition: all 0.35s ease; }
  .card h3 {
    position: relative;
    letter-spacing: 2px;
    font-weight: 100; }
  .card h3:after {
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    content: "";
    height: 2px;
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    transform-origin: 1 50%; }
  .card a {
    color: black;
    text-decoration: none; }
  .card:hover {
    box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(191, 191, 191, 0.5); }
    .card:hover h3:after {
      transform: scale(1);
      opacity: 1; }

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  width: 100%; }
  .cardContent.landscape {
    flex-direction: row;
    font-size: 1.25rem; }

.cover {
  width: 100%; }
  .cover img {
    width: 100%;
    height: auto; }

.infoContainer {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  border: 0.2rem solid rgba(0, 0, 0, 0.85);
  background: rgba(255, 255, 255, 0.5);
  flex: 1 1 1.2rem;
  flex-grow: 1; }
  .infoContainer.loaded {
    margin: -2rem 1rem 1rem 1rem;
    padding: 1rem 0 0 0; }
    .infoContainer.loaded.landscape {
      margin: 1rem 1rem 1rem -2rem;
      padding: 0 0 0 1rem; }

.info {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .info.loaded {
    padding: 1rem 2rem; }
    .info.loaded.landscape {
      padding: 1rem 1rem; }
  .info * {
    width: fit-content; }
  .info p {
    font-size: 1rem;
    word-wrap: break-word; }
