@import '../../Styles/colors.scss';
@import '../../Styles/breakpoints.scss';

.detailContainer {
    width: 100%;
    padding: 2rem;
    max-width: 60rem;
    margin: 0 auto;

    .back {
      margin-bottom: 2rem;

      svg {
        fill: var(--primary);
        margin-right: 1rem;
      }

    }

    .pieceContainer {
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      grid-gap: 2rem;
      
      @media all and (max-width: $lg) {
        grid-template-columns: 1fr;
      }
    }

    h2, h3 {
      margin-bottom: 0.5rem;
    }

    h2 {
      margin-top: 0.5rem;
    }

    h3 {
      margin-top: 1rem;
      font-weight: var(--bold);
    }

    .extraDetails {
      font-weight: var(--regular);
      margin-top: 2rem;
      font-size: 1.2rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid var(--primary);

      @media all and (max-width: $lg) {
        font-size: 1rem;
      }

      a {
        color: var(--secondary);
        font-weight: var(--bold);
        text-decoration: none;
        &:hover, &:focus, &:active {
          color: var(--primary);
        }
        display: inline-block;
        margin-right: 1.5rem;
      }
    }

    image, img {
      width: 100%;
    }

    .details-body {
      margin-top: 2rem;

      @media all and (max-width: $lg) {
        font-size: 1.2rem;
      }
    }

    .details-p {
      font-weight: var(--regular);
      margin-top: 1.5rem;
      line-height: 150%;
    }
}