.link {
  cursor: pointer;
  padding: 0; }
  .link > * {
    display: block; }

.hide {
  display: none; }

.container {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  padding-top: 4rem; }

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%; }

.lightbox {
  max-height: calc(95vh - 4rem);
  max-width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.25rem solid #fff;
  box-sizing: content-box;
  background: #000;
  position: relative; }
  .lightbox img {
    max-height: calc(95vh - 4rem);
    max-width: 90vw;
    width: auto;
    height: auto; }
  .lightbox:hover .close:after {
    transform: rotate(-45deg);
    opacity: 1; }
  .lightbox:hover .close:before {
    transform: rotate(45deg);
    opacity: 1; }

.interaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 4rem);
  width: 96vw;
  position: absolute;
  left: 2vw; }

.close {
  position: absolute;
  top: 1vw;
  right: 1vw;
  width: 2vw;
  height: 2vw;
  cursor: pointer; }
  .close:before, .close:after {
    content: '';
    position: absolute;
    top: 50%;
    height: 3px;
    width: 100%;
    background: #fff;
    opacity: 0;
    transition: transform 0.25s ease, opacity 0.25s ease; }
  .close:before {
    transform: rotate(-45deg); }
  .close:after {
    transform: rotate(45deg); }

.arrow {
  width: 2vw;
  height: 2vw;
  position: relative;
  cursor: pointer;
  transition: transform 0.15s ease; }
  .arrow:before, .arrow:after {
    content: '';
    position: absolute;
    top: calc(50% - 1.5px);
    height: 3px;
    width: 100%;
    background: #fff; }
  .arrow:before {
    transform-origin: 100% calc(50% + 2px);
    transform: rotate(45deg); }
  .arrow:after {
    transform-origin: 100% calc(50% - 2px);
    transform: rotate(-45deg); }

.arrow:hover.next {
  transform: translateX(-0.5vw); }

.arrow:hover.prev {
  transform: rotate(180deg) translateX(-0.5vw); }

.prev {
  transform: rotate(180deg); }

@media all and (max-width: 940px) {
  .lightbox {
    max-width: 86vw; }
    .lightbox img {
      max-width: 86vw; }
  .arrow, .close {
    width: 3vw;
    height: 3vw; } }

@media all and (max-width: 640px) {
  .lightbox {
    max-width: 80vw; }
    .lightbox img {
      max-width: 80vw; }
  .arrow, .close {
    width: 4vw;
    height: 4vw; } }
