.container {
  background-color: rgba(0, 0, 0, 0.85);
  margin: 4rem -1rem;
  padding: 2rem 0; }

.images {
  min-height: 10rem;
  max-width: 50rem;
  width: 95%;
  margin: -4rem auto;
  border-radius: 0.2rem;
  overflow: hidden;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2); }
  .images img {
    width: 100%;
    display: block; }
