@import 'Styles/colors.scss';

.images {
	margin: -4rem auto;
	min-height: 10rem;
	background-color: $black;
	max-width: 50rem;
	box-shadow: 0 0.2rem 0.5rem rgba($black, 0.2);
	img {
		width: 100%;
		display: block;
	}
}

.container {
	margin: 4rem -1rem;
	padding: 2rem 0.5rem;
	background-color: $black;
}