.emailMe {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
  line-height: 1.5rem;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.85);
  margin: 2rem auto;
  min-width: 3.6rem;
  min-height: 3.6rem;
  width: 15rem;
  cursor: pointer; }
  .emailMe:active {
    background-color: rgba(64, 64, 64, 0.85); }

.instaContainer a {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
  font-weight: 800; }
  .instaContainer a:hover {
    color: rgba(0, 0, 0, 0.5); }

.instaList {
  display: grid;
  padding: 0;
  margin: 0 auto;
  grid-template-columns: repeat(5, 16%);
  grid-column-gap: 4%; }
  .instaList .instaListItem {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .instaList .instaListItem img {
      width: 100%;
      height: auto; }
  .instaList .current {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3; }
