@import 'Styles/colors.scss';

.link {
  cursor: pointer;
  padding: 0;
  > * {
    display: block;
  }
}

.hide {
  display: none;
}

.container {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $black;
  padding-top: 4rem;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.lightbox {
  max-height: calc(95vh - 4rem);
  max-width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.25rem solid $white;
  box-sizing: content-box;
  background: #000;
  img {
    max-height: calc(95vh - 4rem);
    max-width: 90vw;
    width: auto;
    height: auto;
  }
}

.interaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 96vw;
  position: absolute;
  left: 2vw;
}

.close {
  position: absolute;
}

.arrow {
  width: 2.5vw;
  height: 2.5vw;
  position: relative;
  &:before, &:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: $white;
  }
  &:before {
    transform: rotate(45deg) translateY(calc(-1.25vw + 2px));
  }
  &:after {
    transform: rotate(-45deg) translateY(calc(1.25vw - 2px));
  }
}

.next {

}

.prev {
  transform: rotate(180deg);
}

