@import 'Styles/colors.scss';

.link {
  cursor: pointer;
  padding: 0;
  > * {
    display: block;
  }
}

.hide {
  display: none;
}

.container {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $black;
  padding-top: 4rem;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.lightbox {
  max-height: calc(95vh - 4rem);
  max-width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.25rem solid $white;
  box-sizing: content-box;
  background: #000;
  position: relative;
  img {
    max-height: calc(95vh - 4rem);
    max-width: 90vw;
    width: auto;
    height: auto;
  }
  &:hover .close {
    &:after {
      transform: rotate(-45deg);
      opacity: 1;
    }
    &:before {
      transform: rotate(45deg);
      opacity: 1;
    }
  }
}

.interaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 4rem);
  width: 96vw;
  position: absolute;
  left: 2vw;
}

.close {
  position: absolute;
  top: 1vw;
  right: 1vw;
  width: 2vw;
  height: 2vw;
  cursor: pointer;
  &:before, &:after {
    content: '';
    position: absolute;
    top: 50%;
    height: 3px;
    width: 100%;
    background: $white;
    opacity: 0;
    transition: transform 0.25s ease, opacity 0.25s ease;
  }
  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
}

.arrow {
  width: 2vw;
  height: 2vw;
  position: relative;
  cursor: pointer;
  transition: transform 0.15s ease;
  &:before, &:after {
    content: '';
    position: absolute;
    top: calc(50% - 1.5px);
    height: 3px;
    width: 100%;
    background: $white;
  }
  &:before {
    transform-origin: 100% calc(50% + 2px);
    transform: rotate(45deg);
  }
  &:after {
    transform-origin: 100% calc(50% - 2px);
    transform: rotate(-45deg);
  }
}

.arrow:hover {
  &.next {
    transform: translateX(-0.5vw);
  }
  &.prev {
    transform: rotate(180deg) translateX(-0.5vw)
  }
}

.prev {
  transform: rotate(180deg);
}

@media all and (max-width: 940px) {
  .lightbox {
    max-width: 86vw;
    img {
      max-width: 86vw;
    }
  }
  .arrow {
    width: 3vw;
    height: 3vw;
  }
}

@media all and (max-width: 640px) {
  .lightbox {
    max-width: 80vw;
    img {
      max-width: 80vw;
    }
  }
  .arrow {
    width: 4vw;
    height: 4vw;
  }
}