.link {
  cursor: pointer;
  padding: 0; }
  .link > * {
    display: block; }

.hide {
  display: none; }

.container {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem; }

.lightbox {
  max-height: calc(95vh - 4rem);
  max-width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.25rem solid #fff;
  box-sizing: content-box;
  background: #000; }
  .lightbox img {
    max-height: calc(95vh - 4rem);
    max-width: 90vw;
    width: auto;
    height: auto; }
