@import '../../Styles/colors.scss';

.artContainer {
    width: 100%;
    padding: 6rem 2rem;

    h2 {
        margin-top: 4rem;
        border-bottom: 1px solid $white;
        padding-bottom: 0.5rem;
        @media all and (max-width: 512px) {
            border-width: 2px;
        }
    }

    h4 {
        font-weight: 100;
        font-size: 1rem;
    }

    p {
        font-weight: 800;
        letter-spacing: 0.1rem;
    }
}

.artDisplay {
    width: 100vw;
    margin-left: -2rem;
    padding: 0.125rem 2rem;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;

    &::-webkit-scrollbar {
        display: none;
        width: 0px;
        height: 0px;
        background: transparent;
    }

    .content {
        // width: 100%;
        display: flex;
        flex-direction: row;

        .imageLink {
            width: auto;
            margin-right: 4rem;
            display: inline-block;
            color: $white;
            text-decoration: none;

            &:last-child {
                margin-right: 0;
            }

            img {
                height: 16rem;
            }
        }
    }
}