@import '../../Styles/colors.scss';

.container {
    width: 100%;
    padding: 6rem 2rem;

    h2 {
        margin-top: 4rem;
        border-bottom: 1px solid $white;
        padding-bottom: 0.5rem;
        @media all and (max-width: 512px) {
            border-width: 2px;
        }
    }

    h4 {
        font-weight: 100;
        font-size: 1rem;
    }

    p {
        font-weight: 800;
        letter-spacing: 0.1rem;
    }
}

.contact {
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid $white;
    color: $white;
    background: transparent;
    font-size: 1.2rem;
    text-decoration: none;
    // font-weight: 100;
    margin-top: 1rem;
    text-align: center;

    @media all and (max-width: 512px) {
        width: 100%;
        border-width: 2px;
        font-weight: 400;
    }

    &:hover {
        background: $black;
        cursor: pointer;
    }
}

.carousel {
    width: 100vw;
    margin-left: -2rem;
    padding: 0.125rem 2rem;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;

    &::-webkit-scrollbar {
        display: none;
        width: 0px;
        height: 0px;
        background: transparent;
    }

    .content {
        // width: 100%;
        display: flex;
        flex-direction: row;

        .image {
            width: auto;
            margin-right: 4rem;

            &:last-child {
                margin-right: 0;
            }

            img {
                height: 16rem;
            }
        }
    }
}