@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import '/Styles/colors.scss';

@font-face {
  font-family: "Montserrat Alternates";
  src: url(fonts/MontserratAlternates-Regular.ttf); 
}

@font-face {
  font-family: "Century Gothic";
  src: url(fonts/century-gothic.ttf);
}

@font-face{
  font-family: "Icon Set";
  src:url(fonts/icon-set.eot);
  src:url(fonts/icon-set.eot?#iefix) format("embedded-opentype"),
      url(fonts/icon-set.woff) format("woff"),
      url(fonts/icon-set.ttf) format("truetype"),
      url(fonts/icon-set.svg#icon-set) format("svg");
  font-weight:400;font-style:normal
}

:root {
  color-scheme: light dark;

  --transparent: rgba(0,0,0,0);
  --black: #222;
  --transparentBlack: rgba(0,0,0,0.4);
  --moreTransparentBlack: rgba(0,0,0,0.24);
  --superTransparentBlack: rgba(0,0,0,0.12);
  --white: #fff;
  --transparentWhite: rgba(255, 255, 255, 0.5);
  --moreTransparentWhite: rgba(255,255,255,0.32);
  --superTransparentWhite: rgba(255,255,255,0.16);
  --orange: #F8863C;
  --red: #DE334E;

  --primary: var(--black);
  --secondary: var(--transparentBlack);
  --tertiary: var(--superTransparentBlack);
  --background: var(--white);
  --backgroundSecondary: var(--transparentWhite);

  --regular: 300;
  --bold: 800;

  --imageBlurBg: var(--transparentWhite);
  --imageBlurBgActive: var(--moreTransparentWhite);
  --imageBlurBgOpacity: 0.16;

  @media (prefers-color-scheme: dark) {
    --primary: var(--white);
    --secondary: var(--transparentWhite);
    --tertiary: var(--transparentBlack);
    --background: var(--black);
    --backgroundSecondary: var(--moreTransparentWhite);

    --regular: 100;
    --bold: 600;

    --imageBlurBg: var(--transparent);
    --imageBlurBgActive: var(--moreTransparentBlack);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Spectral", sans-serif;
  font-size: 16px;
  background: var(--black);
}