@import 'Styles/colors.scss';

.experienceCards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	> div {
		margin: 0.5rem;
		flex: 1 1 20rem;
		// max-width: 22.5rem;
	}
}

.infoSpan {
	margin-bottom: 0.75rem;
	&:first-of-type {
		margin-top: 1rem;
	}
}

.introContainer {
	font-size: 5rem;
	font-weight: 800;
	text-align: left;
	height: calc(100vh - 4rem);
	display: flex;
	align-items: center;
	padding-left: 1rem;
}

.introChanger {
	border-bottom: 0.6rem solid $black;
}

@media all and (max-width: 640px) {
	.introContainer {
		font-size: 3rem;
		padding-left: 1rem;
		height: 70vh;
	}
	.introChanger {
		border-bottom: 0.3rem solid $black;
	}
}