.experienceCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .experienceCards > div {
    margin: 0.5rem;
    flex: 1 1 20rem; }

.infoSpan {
  margin-bottom: 0.75rem; }
  .infoSpan:first-of-type {
    margin-top: 1rem; }

.introContainer {
  font-size: 5rem;
  font-weight: 800;
  text-align: left;
  height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
  padding-left: 1rem; }

.introChanger {
  border-bottom: 0.6rem solid rgba(0, 0, 0, 0.85); }

@media all and (max-width: 640px) {
  .introContainer {
    font-size: 3rem;
    padding-left: 1rem;
    height: 70vh; }
  .introChanger {
    border-bottom: 0.3rem solid rgba(0, 0, 0, 0.85); } }
