.experienceCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .experienceCards > div {
    margin: 0.5rem;
    flex: 1 1 20rem; }

.infoSpan {
  margin-bottom: 0.75rem; }
  .infoSpan:first-of-type {
    margin-top: 1rem; }
