@import '../../Styles/colors.scss';

.experienceCards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	>div {
		margin: 0.5rem;
		flex: 1 1 20rem;
		// max-width: 22.5rem;
	}
}

.infoSpan {
	margin-bottom: 0.75rem;

	&:first-of-type {
		margin-top: 1rem;
	}
}

.introContainer {
	font-size: 5rem;
	font-weight: 800 !important;
	height: calc(85vh - 8rem);
	min-height: 25rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.introChanger {
	border-bottom: 0.6rem solid $black;
}

.introContent {
	font-size: 1.2rem;
}

@media all and (max-width: 640px) {
	.introContainer {
		font-size: 3rem;
		height: 50vh;
		min-height: 12rem;
	}

	.introChanger {
		border-bottom: 0.3rem solid $black;
	}
}